:root {
    --primary-blue: #6EA3CC;
    --hover-light: #FFDFDF;
    --primary-pink: #F2ECEC;
    --tile-blue: #91BBDA;
    --sky-blue: #D1E5F5;
    --button-pink: #F3B7AD;
}

.top-bar a{
    color:white;
    padding: 10px 0;
}

.menu-icon {
    color: white;
}

.promo-banner {
    --light-blue: #D4ECF9;
}
