:root {
    --primary-blue: #6EA3CC;
    --hover-light: #FFDFDF;
    --primary-pink: #F2ECEC;
    --tile-blue: #91BBDA;
    --sky-blue: #DDE9F5;
    --button-pink: #F3B7AD;
    --text-dark: #565354;
    --breadcrumb-blue:#B6CEE1;
    --hover-pink:#F5B7B7;
    --grey-back: #CCCCCC;
}

.top-bar a{
    color:white;
    padding: 10px 0;
}

.menu-icon {
    color: white;
}

.promo-banner {
    --light-blue: #D4ECF9;
}
