.shop-now-btn {
    background-color: #F3B7AD; /* Button Pink color */
    color: white;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 2em;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
}

.shop-now-btn:hover {
    background-color: #EFA194; /* Darker pink on hover */
}

.shop-now-btn.hidden {
    opacity: 0;
    visibility: hidden;
}

.add-to-cart {
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    background-color: #F1BCB6;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white
}
.add-to-cart:hover {
    background-color: #f5b7b7;
}

.sold-out {
    background-color: #E2E0E5;
    color: #777477;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.heart-icon, .wishlist-icon {
    color: #F1BCB6;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.buy-it-now {
    background-color: var(--primary-blue);
    border: none;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: 600;
    color: white;
    padding: 0.4rem 1rem;
}
