body {
    margin: 0 auto;
    padding: 0;
    background-color: var(--primary-pink); /* Light background */
    color: hsl(0, 0%, 20%);
}

/* Header Styling */
header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 1.2rem;
}

.top-bar {
    max-height: 4.5rem;
    margin: 0 auto;
}

.top-link {
    text-decoration: none;
    color: #555;
}

.promo-banner {
    background-color: var(--light-blue);
    padding: 10px 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.promo-text {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 2px 6px;
    align-self: center;
}

.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1.5rem;
    flex-wrap: wrap;
}


.search-bar {
    width: 100%;
    max-width: 700px;
    background: #ddd;
    border-radius: 1.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.search-input-wrapper {
    display: flex;
    align-items: center;
}

.search-bar input {
    flex: 1;
    border: none;
    padding: 0.8rem 1.5rem;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.search-bar button {
border: none;
    background: transparent;
    padding: 0 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.boxed-suggestions {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 0;
    transition: height 0.2s ease;
    overflow: hidden;
}

.boxed-suggestions.show {
    height: auto;
}

.boxed-suggestions li {
    padding: 0.8rem 1rem;
    border-top: 1px solid #aaa;
    font-size: 0.95rem;
    cursor: pointer;
}

.boxed-suggestions li:hover {
    background: #ccc;
}


.main-nav {
    border-top: 1px solid #eee;
    width: 100%;
}

.main-nav .container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-nav .container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center navigation items */
    flex-wrap: wrap;
}

.main-nav .container li {
    margin: 0 15px;
}

.main-nav .container a {
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    display: block;
}

/* Hero Section */
.hero-section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--primary-blue);
    overflow: hidden;
}

.banner-img {
    width: 100%;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.banner-img.active {
    width: 100%;
    display: block;
    opacity: 1;
}

.hero-section .container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    width: 5rem;
    height: 5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    transition: background-color 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    opacity: 80%;
}

.left-arrow {
    font-size: 3rem;
}

.right-arrow {
    font-size: 3rem;
}

/* Category Tiles */
.category-tiles .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 4rem 0;
    text-align: center;
}

.category-tile {
    background-color: var(--tile-blue); 
    border-radius: 0.5rem; 
    box-shadow: 0 4px 10px rgba(33, 17, 17, 0.1); 
    width: calc(33.333% - 1rem); 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding-bottom: 20px; 
}

.category-tile img {
    width: 80%; 
    height: auto; 
    display: block; 
    padding-top: 1rem;
}

.category-tile p {
    font-size: 3rem; 
    font-weight: bold; 
    color: white;
    margin-top: 20px; 
    padding: 0 10px; 
}

/* Shop by Brand */
.shop-by-brand .container{
    background-color: var(--primary-pink);
    text-align: center;
    padding: 1rem 0.5rem;
}

.brand-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.brand-item {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    aspect-ratio: 5/2;
}

.brand-item img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.shop-all-btn {
    margin-top: 1rem;
    padding: 0.75rem 2rem;
    font-size: 2rem;
    border: none;
    text-decoration: underline;
    background: none;
    cursor: pointer;
}
/* New Arrival */

.new-arrival {
    background-color: #9BC0DC;
    padding: 2rem;
}

.new-arrival h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 1.5rem;
}

.product-item {
    padding: 1rem;
    background-color: var(--sky-blue);
    border-radius: 0.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.product-item img {
    width: 100%;
    border-radius: 0.5rem;
}

.banner-item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.product-brand {
    font-size: 2rem;
    margin: 0.3rem 0;
    font-weight: bold;
}

.product-desc, .product-colors {
    color: #474742;
    font-size: 1.3rem;
    margin: 0.2rem 0;
    text-align: left;
    line-height: 1.2; 
    max-height: 2.4em;  
}

.price {
    font-weight: bold;
    color: var(--primary-blue);
    font-size: 2rem;
    margin: 1rem 0;
}

.button-row {
    text-align: center;
    gap: 2rem;
    margin-top: auto;
}

.homepage-add {
    color: white;
    padding: 0.8rem 0.8rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #F1BCB6;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    flex: 1;
}

.homepage-add:hover {
    background-color: #F5B7B7;
}

.homepage-add:active {
    transform: scale(0.95);
}

.heart-icon {
    color: #F1BCB6;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s;
    margin-left: 2rem;
}
.heart-icon:hover {
    color: #E76F6F;
}

.check-all-btn {
    color: white;
    padding: 0.75rem 2rem;
    font-size: 2rem;
    border: none;
    text-decoration: underline;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 1rem auto 0 auto;
    text-align: center;
}

/* Find Us On */
.find-us-on {
    padding: 2rem 1rem;
    text-align: center;
}

.find-us-on h3 {
    margin-bottom: 2rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-item i {
    width: 80px;
    height: 80px;
    background-color: var(--primary-blue);
    color: white;
    font-size: 3rem;
    border-radius: 50%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item span {
    font-size: 1.2rem;
    background-color: var(--sky-blue);
    color: black;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.8rem;
}

.social-item:hover {
    transform: scale(1.1);
    color: #F37A7A;
}

/* Utility Buttons */
.utility-buttons {
    padding: 2rem 1rem;
    text-align: center;
}

.utility-buttons .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Responsive grid */
    gap: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
}

.utility-btn {
    background-color: var(--primary-blue);
    color: white;
    padding: 2rem 1rem;
    border: none;
    border-radius: 0.75rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.utility-btn i {
    font-size: 3rem;
}

.utility-btn:hover {
    background-color: #5588BB; /* Darker blue on hover */
    transform: scale(1.05)
}


/* Footer */
footer {
    color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-top: 1px solid black;
}

footer p {
    margin: 0 0.5rem;
    font-size: 0.9rem;
    text-align: left;
}