.top-bar{
    background-color:var(--primary-blue);
    padding: 5px 10px;
}

.top-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    height: inline;
}

top-link .span{
    display: inline;
}

.menu-icon {
    display: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    order: 1;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    display: block;
    text-align: center;
}

.logo-img {
    height: 4rem;
    width: auto;
    display: block;
    order: 2;
}