.top-bar{
    background-color:var(--primary-blue);
    padding: 5px 10px;
}

.top-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    height: inline;
}

.nav-overlay {
    display: none;
}

.top-link .span{
    display: inline;
}

.menu-icon {
    display: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    order: 1;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    display: block;
    text-align: center;
}

.logo-img {
    height: 4rem;
    width: auto;
    display: block;
    order: 2;
}

/* Separate navigation page for mobile version */
@media (max-width: 390px) {
  #mobileNav:target {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--sky-blue);
    overflow-y: auto;
    z-index: 999;
  }

  .overlay-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-blue); 
    padding: 5px 10px;
    color: white;
  }

  .overlay-logo .logo-img {
    height: 4rem;
    object-fit: contain;
  }

   .back-button {
    display: inline-block;
    background-color: var(--button-pink);     
    color: white;  
    border-radius: 1rem;              
    text-decoration: none;
    padding: 0.5rem 1.2rem;
    font-weight: bold;
    font-size: 0.8rem;
  }

  /* first navigation menu column */
  .mobile-first-nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .mobile-first-nav li {
    border-bottom: 2px solid white;

  }
  .mobile-first-nav li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;                
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;

  }
  .mobile-first-nav li a img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .mobile-first-nav li a span {
    margin-right: 9rem;
  }

  .mobile-first-nav li a i {
    font-size: 1.2rem;      
    margin-right: 1rem;          
  }

  .mobile-first-nav li a:hover {
    background-color: #c8d8e4;      
  }

  .mobile-first-nav .all-products {
    color: #333;
    font-size: 1.1rem;
    text-decoration: underline;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }

   #makeupSub {
  display: none;
  }

  #makeupSub:target {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--sky-blue);
    overflow-y: auto;
    z-index: 1000;
  }

  .mobile-second-nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .makeup-title {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
    border-bottom: 1px solid #ddd;
  }

  .accordion-item {
    border-bottom: 1px solid #ddd;
  }

  .accordion-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.2rem;
    list-style: none;
    cursor: pointer;
    user-select: none;
  }
  .accordion-summary::-webkit-details-marker {
    display: none;
  }

  .accordion-summary .arrow-icon {
    transition: transform 0.3s ease;
    font-size: 1rem;
  }
  .accordion-summary:hover {
    background-color: var(--sky-blue);
  }
  .accordion-item[open] > .accordion-summary .arrow-icon {
    transform: rotate(-180deg);
  }

  .accordion-content {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .accordion-item[open] > .accordion-content {
    display: block;
  }

  /*Third column of the navigation menu on mobile page*/
  .accordion-content li a {
    display: block;
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
    font-weight: 400;
    text-decoration: underline;
  }

  .accordion-content li a:hover {
    background-color: var(--primary-blue);
    color: #000;
  }
}

.breadcrumb {
    display: flex;
    align-items: center;
    background-color: var(--breadcrumb-blue);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: black;
}

.breadcrumb a, .bc-current {
    display: inline-flex;
    align-items: center;
    color: black;
}

.breadcrumb .bc-home {
    font-size: 1.6rem;
}


