body {
    background-color: var(--primary-pink); /* Light background */
    color: #474742;
    font-family: "noto sans";
    margin: 0;
}
.primer-banner {
  position: relative;
  width: 100%;
  height: 260px;      
  overflow: hidden; 
}

.primer-banner .primer-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;  
  z-index: 1;
}

.primer-banner .primer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #777477;
  text-align: center;
  z-index: 2;      
  width: 70%;
}

.primer-banner .primer-text p{
  display: flex;
  letter-spacing: 1px;
  font-weight: 400;
}

/*Filter and Sort by section */
.filter-bar {
  width: 100%;
}

.filter-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tile-blue);
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.filter-title, .sort-title {
  color: white;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.filter-title:hover {
  opacity: 0.9;
}

.filter-overlay {
  display: none;
}

.mobile-sort-dropdown {
  display: none;
}

.sort-arrow {
  display: none; 
}
.sort-options-mobile {
  display: none;  
}

.sort-container {
  position: relative;
}


.filter-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.controls-left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.controls-right {
    display: flex;
    align-items: center;
}

.select-wrapper {
  position: relative;
  overflow: hidden;
}

.select-wrapper select {
  appearance: none;     /*Canceled the default arrow*/
  -webkit-appearance: none;
  background-color: var(--sky-blue);
  border: none;
  padding: 1rem 2rem 1rem 0.8rem;
  border-radius: 1rem;
  font-size:1.3rem;
  color: #333;
  width: 100%;
  cursor: pointer;
}

.select-wrapper i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
  font-size: 1rem;
}

.select-wrapper select:focus {
  outline: none;
}

/*product cards in the list of product page*/

.product-list {
    width: 90%;
    flex: 1;
    padding: 1.5rem 1rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.second-product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
 }

.product-card {
    background-color: var(--sky-blue);
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    overflow:hidden;
    text-decoration: none;      
    color: inherit;
    position: relative;
    margin:0;
    padding: 0;
}

.image-wrapper {
    position: relative;
    margin: 1rem 1rem 0;
    padding: 0 1rem;
    padding-top: 90%; 
    width: calc(100% - 2rem);
    box-sizing: border-box;
    overflow: hidden;
}

.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

.image-wrapper .secondary-img {
    opacity: 0;
}

.image-wrapper:hover .secondary-img {
    opacity: 1;
}

.image-wrapper:hover .primary-img {
    opacity: 0;
 }

.product-info {
    padding: 0 1.2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.brand {
    font-size: 1.6rem;
    font-weight: 1000;
    margin: 0.3rem 0;
}

.product-name {
    font-size: 1.5rem;
    color: #565354;
    margin: 0.3rem 0;
}

.price {
    font-size: 1.6rem;
    color: var(--primary-blue);
    font-weight: bold;
    line-height: 1;
    margin: 0.3rem 0;
}
    
.variant-info {
    font-size: 1.2rem;
    line-height: 1;
    margin: 0.3rem 0;
}

.product-add {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 2rem;
}
    
.add-to-cart, .sold-out {
    padding: 0.8rem 1.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    margin-right: auto;
}

.add-to-cart:hover {
    background-color: #e09088;
}

.sold-out {
    cursor: not-allowed;
}

.wishlist-icon {
    font-size: 2rem;
    padding: 0 3rem;
    cursor: pointer;
 }

.wishlist-icon.favorited {
    color: #F1BCB6;
   }

    /*Footer*/
footer {
    color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-top: 1px solid black;
 }

 footer p {
    margin: 0 0.5rem;
    font-size: 0.9rem;
    text-align: left;
 }

@media (max-width:391px) {
  .primer-banner {
        position: relative;
        width: 100%;
        height: 200px;      
        overflow: hidden; 
        }
    
  .primer-banner .primer-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #777477;
        text-align: center;
        z-index: 2;      
        padding: 0 0.5rem;  
        font-size: 0.9rem;
        }
    
       .product-list {
        width: 100%;
        padding: 1.5rem 1rem;  
        margin: 0 auto;
        box-sizing: border-box;
      }
    
       .second-product-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem; 
      }
    
      .image-wrapper {
        position: relative;
        margin-right: 0.8rem; 
        padding-top: 90%;       
        box-sizing: border-box;
        overflow: hidden;
      }
    
      .product-info {
        padding: 0.4rem 0.8rem; 
        box-sizing: border-box;
      }
      .brand {
        font-size: 1rem;
        margin: 0.1rem 0;
      }
      .product-name {
        font-size: 0.8rem;
        margin: 0.1rem 0;
      }
      .product-info .price {
        font-size: 1rem;
        margin: 0.3rem 0;
      }

      .variant-info {
        font-size: 0.8rem;
        margin: 0.2rem 0;
      }
      
      .product-add {
        padding: 0.3rem 0.3rem 1.5rem; 
      }
    
      .add-to-cart,
      .sold-out {
        padding: 0.5rem 1rem; 
        font-size: 0.8rem;
        white-space: nowrap;
        border-radius: 0.6rem;
        margin-right: auto;   
      }
    
      .wishlist-icon {
        font-size: 1rem;
        padding: 0 0.5rem;
      }
    
      .image-wrapper .secondary-img {
        display: none;      
      }
      .image-wrapper .primary-img {
        opacity: 1 !important;
      }
    
       .filter-bar {
         width: 100%;
         display: flex;
         flex-direction: column;
         padding: auto;
      }
    
       .filter-container {
        padding: 1rem 1rem;
       }
    
      .filter-title, .sort-summary {
        font-size: 1rem;        
        }
    
      .filter-sort {
        display: none;
       } 

       .sort-summary {
        text-align: right;
       }

       .sort-summary::-webkit-details-marker {
       display: none;
       }
       
       .sort-summary::marker {
       display: none;
       }

       .sort-title {
        display: none;
       }

      
       .sort-desktop {
       display: block;
       font-size: 1.1rem;
       color: white;
       background-color: var(--tile-blue);
       padding: 0.8rem 1rem;
       border-radius: 0.5rem;
       box-sizing: border-box;
      }

      .mobile-sort-dropdown {
      display: block;
      position: relative; 
      width: 200px;
      box-sizing: border-box;
  }

      .sort-summary {
       display: block;
       justify-content: space-between;
       align-items: center;
       background-color: var(--tile-blue);
       color: white;
       padding: 0.8rem 1rem;
       font-size: 1rem;
       border-radius: 0.5rem;
       cursor: pointer;
       box-sizing: border-box;
       width: 100%;
  }

  .sort-summary::-webkit-details-marker {
    display: none;
  }
  .sort-summary::marker {
    display: none;
  }

  .sort-arrow {
    display: inline-block;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    transition: transform 0.2s ease;
    color: white;
  }

  .mobile-sort-dropdown[open] .sort-arrow {
    transform: rotate(180deg);
  }

  .mobile-sort-dropdown[open] .sort-options-mobile {
    display: block;               
    position: absolute;  
    padding: 0.25rem 0;
    left: 0;
    width: 100%;
    list-style: none;
    background-color: var(--sky-blue);
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 10;                  
    box-sizing: border-box;
    max-height: 60vh;
    overflow-y: auto;
  }
  .mobile-sort-dropdown[open] .sort-options-mobile li {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
  }
  .mobile-sort-dropdown[open] .sort-options-mobile li:last-child {
    border-bottom: none;
  }

  .mobile-sort-dropdown[open] .sort-options-mobile label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
  }
  .mobile-sort-dropdown[open] .sort-options-mobile input[type="radio"] {
    margin-right: 0.75rem;
    accent-color: var(--primary-blue);
    cursor: pointer;
    width: 0.5rem;
    height: 1rem;
  }
  .mobile-sort-dropdown[open] .sort-options-mobile li:hover {
    background-color: #f9f9f9;
  }

 /*Filter overlay shelf on mobile phone*/
  .filter-overlay {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    z-index: 1000;
  }

  .filter-overlay.open {
    display: block;
  }

  /*Sliding shelf*/
  .filter-drawer {
    position: absolute;
    top: 0; bottom: 0; right: 0;
    width: 75%;   
    background: var(--sky-blue);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .filter-overlay.open .filter-drawer {
    transform: translateX(0);
  }

  .filter-header {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 4px solid white;
  }

  /*close botton and the content*/
  .filter-close-btn {
    align-self: flex-end;
    margin: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  .filter-content ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .filter-content {
    padding: 0 1rem;
    overflow-y: auto;
    flex: 1;
  }

  .filter-overlay .price-range {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
}

.filter-group-title {
  text-decoration: underline;
  color: var(--text-dark);
}

.price-input {
  background-color: var(--grey-back);
  border: none;
  border-radius: 1rem;
  font-size: 0.9rem;
  padding: 0.5rem 0.7rem;
}

.price-note {
  font-size: 0.8rem;
}

}