@media (min-width: 1369px) {
    .container {
        max-width: 1200px;
    }

}

@media (max-width: 1367px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    .menu-icon {
        display: none;
    }

    .hero-section {
        height: 350px;
    }

}

@media (max-width: 391px) {
    .top-link {
        font-size: 1rem;
    }
    .top-link span{
        display: none;
    }

    .map-link{
        display: none;
    }
    
    .top-link span{
        display: none;
    }
    .menu-icon {
        display: block;
    }

    .logo {
        order: 1;
        height: 30px;
    }

    .promo-banner {
       padding-top: 0.4rem;
       padding-bottom: 0.4rem;
       height: 20px;
    }

    .promo-text {
        font-size: 0.8rem;
    }

    .menu-icon{
        order: 0;
    }
    
    .log-link{
        order: 2;
    }

    .heart-link{
        order: 3;
    }

    .cart-link{
        order: 4;
    }

    .search-container {
        max-width: 90%;
        margin: 0 auto;
    }

    .search-bar input {
        width: 100%;
    }

    .main-nav {
        display: none;
    }

    .hero-section {
        max-width: 100%;
        height: auto;
    }

    .hero-section .container {
        max-width: 100%;
        padding: 0 10px;
    }

     .hero-imgs {
        width: 100%;
    }

    .shop-now-btn {
        font-size: 0.9rem;
    }
}

