@media (max-width: 1367px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    .menu-icon {
        display: none;
    }

    .hero-section {
        height: 350px;
    }

}

@media (max-width: 1024px) {
    .category-tile {
        width: calc(50% - 1rem);
    }
}


@media (max-width: 391px) {
    .top-link {
        font-size: 1rem;
    }
    .top-link span{
        display: none;
    }

    .map-link{
        display: none;
    }
    
    .top-link span{
        display: none;
    }
    .menu-icon {
        display: block;
    }

    .logo {
        order: 1;
        height: 30px;
    }

    .promo-banner {
       padding-top: 0.4rem;
       padding-bottom: 0.4rem;
       height: 20px;
    }

    .promo-text {
        font-size: 0.8rem;
    }

    .menu-icon{
        order: 0;
    }
    
    .log-link{
        order: 2;
    }

    .heart-link{
        order: 3;
    }

    .cart-link{
        order: 4;
    }

    .search-container {
        max-width: 90%;
        margin: 0 auto;
    }

    .search-bar input {
        width: 100%;
    }

    .main-nav {
        display: none;
    }

    .hero-section {
        max-width: 100%;
        height: auto;
    }

    .hero-section .container {
        max-width: 100%;
        padding: 0 10px;
    }

    .hero-imgs {
        width: 100%;
    }

    .arrow {
        font-size: 1rem;
        opacity: 85%;
        padding: 1rem;
    }

    .shop-now-btn {
        font-size: 0.9rem;
    }

    .category-tile {
        width: 50%;
        padding: 1.2rem;
    }

    .category-tile p {
        font-size: 1.2rem;
    }

    .shop-by-brand h1 {
        font-size: 0.8rem;
    }

    .shop-all-btn p{
        font-size: 0.8rem;
    }

    .new-arrival {
        padding: 1.5rem 0;
    }
    .new-arrival h1 {
        font-size: 2rem;
    }
    .new-arrival .container {
        padding: 0; 
    }

    .product-grid {
        display: flex; 
        flex-wrap: nowrap; 
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; 
        grid-template-columns: unset;
        justify-content: flex-start;
        gap: 1rem;
        padding: 0 0.75rem;
        padding-bottom: 1rem; 
        scrollbar-width: none; 

    }
    .product-grid::-webkit-scrollbar {
        display: none; 
    }

    .product-item, .banner-item {
        flex-shrink: 0; 
        width: 160px; 
        height: auto; 
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: left; 
        padding: 0.8rem; 
    }

    .banner-item img {
        width: 100%;
        height: 100%;
    }

    .product-brand {
        font-size: 1rem;
        margin: 0.2rem 0;
    }

    .product-desc, .product-colors {
        font-size: 0.8rem;
        margin: 0.1rem 0;
    }

    .price {
        font-size: 1rem;
    }

    .button-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        margin-top: auto; 
    }

    .homepage-add {
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
        flex: none;
        width: auto;
    }
    .heart-icon {
        font-size: 1.3rem;
        margin-left: 0;
    }
    .check-all-btn {
        font-size: 1.3rem;
        margin-top: 1rem;
    }

    .find-us-on h3 {
        font-size: 2rem;
    }

    .social-links {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    .social-item span {
        display: none;
    }

    .social-item i {
        width: 60px;
        height: 60px;
        font-size: 2.5rem;
        margin-top: 0.2rem;
    }

    .utility-buttons .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.8rem;
    }

    .utility-btn {
        font-size: 1rem;
        padding: 1.2rem 0.8rem;
        border-radius: 1rem;
    }

    .utility-btn i {
        font-size: 2rem;
    }

    footer p {
        font-size: 0.5rem;
    }

    .primer-banner {
    position: relative;
    width: 100%;
    height: 200px;      
    overflow: hidden; 
    }

    .primer-banner .primer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #777477;
    text-align: center;
    z-index: 2;      
    padding: 0 0.5rem;  
    font-size: 0.9rem;
    }

   .product-list {
    width: 100%;
    padding: 1.5rem 1rem;  
    margin: 0 auto;
    box-sizing: border-box;
  }

   .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem; 
  }

  .image-wrapper {
    position: relative;
    margin-right: 0.8rem; 
    padding-top: 90%;       
    box-sizing: border-box;
    overflow: hidden;
  }

  .product-info {
    padding: 0.4rem 0.8rem; 
    box-sizing: border-box;
  }
  .brand {
    font-size: 1rem;
    margin: 0.1rem 0;
  }
  .product-name {
    font-size: 0.8rem;
    margin: 0.1rem 0;
  }
  .price {
    font-size: 1rem;
    margin: 0.3rem 0;
  }
  .variant-info {
    font-size: 0.8rem;
    margin: 0.2rem 0;
  }
  .product-add {
    padding: 0.3rem 0.3rem 1.5rem; 
  }

  .add-to-cart,
  .sold-out {
    padding: 0.5rem 1rem; 
    font-size: 0.8rem;
    white-space: nowrap;
    border-radius: 0.6rem;
    margin-right: auto;   
  }

  .wishlist-icon {
    font-size: 1rem;
    padding: 0 0.5rem;
  }

    .image-wrapper .secondary-img {
    display: none;      
  }
   .image-wrapper .primary-img {
    opacity: 1 !important;
  }

   .filter-bar {
     width: 100%;
     display: flex;
     flex-direction: column;
     padding: auto;
  }

   .filter-container {
    padding: 1rem 1rem;
   }

    .filter-title, .sort-title {
    font-size: 1rem;         
    }

    .filter-title:hover, .sort-title:hover {
    opacity: 0.8;
    }

   .filter-sort {
    display: none;
   }

    .mobile-filter-sort {
    display: flex;
    }

   }

